<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Recomendador Rutas</title>
   </head>

    <body>
        <div style="padding: 1em;">
            <h2>Recomendador API rutas</h2>

            <p>&nbsp;</p>
            <p>// --------------------------<br />// ALEATORIOS<br />// --------------------------</p>
            <p>// Recomendador que devuelva aleatoriamente una lista de hasta NUMBER (5 por defecto) peliculas&nbsp;(las que tienen buena puntuacion)<br />router.get("<strong>/aleatorio/peliculas/:number?</strong>",(req, res) =&gt; {<br />&nbsp; &nbsp;...<br />});</p>
            <p>// Recomendador que devuelva aleatoriamente una lista de hasta NUMBER (5 por defecto) series(las que tienen buena puntuacion)<br />router.get("<strong>/aleatorio/series/:number?</strong>",(req, res) =&gt; {<br />&nbsp; &nbsp;...<br />});</p>
            <p>// --------------------------<br />// FIN ALEATORIOS<br />// --------------------------</p>
            <p>// --------------------------<br />// SIMILITUDES<br />// --------------------------</p>
            <p><br />// devuelve una lista de hasta NUMBER pel&iacute;culas (5 por defecto), de similar categor&iacute;as que otros usuarios han puntuado una pel&iacute;cula puntuada. La eleccion de estas peliculas se hace frente a las similaritudes notacion del usuario con las notas de los otos usuarios.<br />router.get("<strong>/porSimilitudes​/pelicula​/:filmId/:number?</strong>",(req, res) =&gt; {<br />&nbsp; &nbsp;...<br />});</p>
            <p>// devuelve una lista de hasta NUMBER series (5 por defecto), de similar categor&iacute;as que otros usuarios han sobre una pel&iacute;cula puntuada. La eleccion de estas peliculas, o series, se hace frente a similaritudes de notacion del usuario con las notas de los otos usuarios.<br />router.get("<strong>/porSimilitudes/serie/:serieId/:number?</strong>",(req, res) =&gt; {<br />&nbsp; &nbsp;...<br />});</p>
            <p>// --------------------------<br />// FIN SIMILITUDES<br />// --------------------------</p>
            <p>// --------------------------<br />// LISTA NEGRA<br />// --------------------------</p>
            <p>//Devuelve la lista de peliculas que no se debe recomandar al usuario<br />router.get("<strong>/listaNegra/peliculas</strong>", (req, res) =&gt; {<br />&nbsp; &nbsp;...<br />});</p>
            <p>//Devuelve la lista de series que no se debe recomandar al usuario<br />router.get("<strong>/listaNegra/series</strong>", (req, res) =&gt; {<br />&nbsp; &nbsp;...<br />});</p>
            <p>//A&ntilde;ade la pelicula a la lista de peliculas que no se debe recomandar al usuario<br />router.post("<strong>/listaNegra/pelicula/:peliculaId</strong>", (req, res) =&gt; {<br />&nbsp; &nbsp;...</p>
            <p>//A&ntilde;ade la serie a la lista de series que no se debe recomandar al usuario<br />router.post("<strong>/listaNegra/serie/:serieId</strong>", (req, res) =&gt; {<br />&nbsp; &nbsp;...<br />});</p>
            <p>//Retira la pelicula de la lista de peliculas que no se debe recomandar al usuario<br />router.delete("<strong>/listaNegra/pelicula/:peliculaId</strong>", (req, res) =&gt; {<br />&nbsp; &nbsp;...<br />});</p>
            <p>//Retira la serie de la lista de series que no se debe recomandar al usuario<br />router.delete("<strong>/listaNegra/serie/:serieId</strong>", (req, res) =&gt; {<br />&nbsp; &nbsp;...<br />});</p>
            <p>// --------------------------<br />// FIN LISTA NEGRA<br />// --------------------------</p>
            <p>&nbsp;</p>
            

        </div s>

        <script type="text/javascript">

        </script>
    </body>

</html>